<nav class="navbar navbar-dark bg-light justify-content-end">
    <div id="header">
        <ul class="nav justify-content-center">
            <form class="form-inline">
                <li class="nav-item">
                    <input class="form-control mr-sm-12" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </li>
            </form>
            <li class="nav-item">
                <a class="nav-link active" routerLink="/signin">Sign In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/signup">Sign up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/profile">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/product-details">Products</a>
            </li>
        </ul>
    </div>
</nav>