<div class="container">
  <div class="row centered-form">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Please sign up</h3>
        </div>
        <div class="panel-body">
          <form role="form" (ngSubmit)="onSubmit(profileForm.value)" #profileForm="ngForm">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <input type="text" name="first_name" id="first_name" [(ngModel)]="currentUser.first_name"
                  class="form-control input-sm"
                    placeholder="First Name">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input type="text" name="last_name" id="last_name" [(ngModel)]="currentUser.last_name"
                  class="form-control input-sm" placeholder="Last Name">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <input type="email" name="email" id="email" class="form-control input-sm" [(ngModel)]="currentUser.email_id" placeholder="Email Address" disabled>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" name="phone" id="phone" class="form-control input-sm" [(ngModel)]="currentUser.phone"
                   placeholder="Phone number">
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" name="alt_phone" id="altphone" class="form-control input-sm" [(ngModel)]="currentUser.alt_phone"
                   placeholder="Alternate Phone number">
                </div>
              </div>
            </div>
            <input type="submit" value="Update" class="btn btn-info btn-block">
            <!-- <button class="btn btn-outline-primary mb-2 mr-2" (click)="openVerticallyCentered(content)">Modal vertically centered</button> -->
            
          </form>
          
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>One fine body&hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>